/* Page Styles */

* {
    box-sizing: border-box;
}




body {
    background: #4aa7f8;
    font-family: sans-serif;
    font-size: .8em;
}

form {
    background-image: url(clouds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em 2em 1em;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 1em #222;
    border-radius: 5px;
}

main {
    font-size:15px;
    color: whitesmoke;
    max-width: 100%;
    margin: 1% 40%;
    justify-content: center;
}

label {
    font-size: 20px;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none
}

input[type="text"],
input[name="telephone"] {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    font-size: 1.3em;
    border-radius: 5px;
}

.hiddenMessage {
    font-size: .5em;
    text-align: center;
    position: absolute;
    padding: 7px 10px;
    color: rgb(130 113 113);
}

/* .hiddenMessage:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #f16818;
    border-width: 8px;
    margin-top: -8px;
} */

button {
    margin-left: 129px;
    cursor: pointer;    
}

button:hover {
    background: orangered;
}
.simple {
    color: rgb(255, 255, 255);
    font-size: 52px;
    background: #ff6a00;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: fit-content;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 3em white;
    text-align: center;
}

.main-footer {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
    border-radius: 25px;
    color: white;
}

.jobs {
    font-family: cursive;
    width: 100%;
}

/* Media Query */

@media (max-width: 768px) {
    main {
        font-size: 15px;
        color: whitesmoke;
        max-width: 100%;
        margin: 1% 13%;
        margin-bottom: -30px;
        justify-content: center;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    .simple {
        display: flex;
        flex-wrap: wrap;
        color: rgb(255, 255, 255);
        font-size: 52px;
        background: #ff6a00;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: fit-content;
        margin-top: -7px;
        margin: auto;
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 0 0 3em white;
        text-align: center;
    }

    button {
        margin: auto 40%;
        cursor: pointer;    
    }
}

@media (min-width: 768px) {
    form {
        max-width: fit-content;
        flex-grow: 4;
        font-size: 2em;
        margin-top: 25px;
        padding: .5em;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    main {
        font-size: 15px;
        color: whitesmoke;
        max-width: 100%;
        margin: 1% 13%;
        margin-bottom: -30px;
        justify-content: center;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    button {
        margin: auto 40%;
        cursor: pointer;    
    }
}

@media (min-width: 1024px) {
    .form {
        max-width: fit-content;
        display: flex;
        flex-grow: 4;
        font-size: 2em;
        margin-top: 25px;
        padding: .5em;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }

    .simple {
        display: flex;
        flex-wrap: wrap;
        color: rgb(255, 255, 255);
        font-size: 52px;
        background: #ff6a00;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: fit-content;
        margin-top: -7px;
        margin: auto;
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 0 0 3em white;
        text-align: center;
    }

    button {
        margin: auto 40%;
        cursor: pointer;    
    }
}